
* {
    font-family: calibri;
    font-size: 20px;
}

.table {
    font-family: calibri;
    font-size: 20px;
}


h1 {
    font-size: 30px; 
    
}

#logo {
    width: 100px;
    height:100px;
}

form {
    width:25%;
    
}

.blue{
    color:blue;
}

#homeLink {
    font-size: 16px;
   
}